*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.container{
	width:90%;
	margin:0 auto;
}
.row{
	display:flex;
	flex-wrap:wrap;
}
header{
	background-color:#003399;
	padding:15px 0;
}
.main-nav{
	color:#fff;
}
.menu-bar ul{
	display:flex;
	list-style:none;
	justify-content:space-evenly;
	margin-top:10px;
}
.menu-bar ul li a{
	text-decoration:none;
	color:#fff;
}
.menu-bar ul li a i{
	margin-left:10px;
}
.menu-bar ul li a:hover{
	color:#09f;
}
.menu-bar ul li a.active{
	color:#09f;
}
a.box{
	border-radius:25px;
	background-color:#003399;
	padding:10px 25px 10px 25px;
	border:2px solid #09f;
}











.col-1{
	width:8.33%;
	padding:0 15px;
}
.col-2{
	width:16.66%;
	padding:0 15px;
}
.col-3{
	width:25%;
	padding:0 15px;
}
.col-4{
	width:33.32%;
	padding:0 15px;
}
.col-5{
	width:41.65%;
	padding:0 15px;
}
.col-6{
	width:50%;
	padding:0 15px;
}
.col-7{
	width:58.31%;
	padding:0 15px;
}
.col-8{
	width:66.64%;
	padding:0 15px;
}
.col-9{
	width:75%;
	padding:0 15px;
}
.col-10{
	width:83.3%;
	padding:0 15px;
}
.col-11{
	width:91.63%;
	padding:0 15px;
}
.col-12{
	width:100%;
	padding:0 15px;
}